<head> 

	<link rel="stylesheet" href="about us.html">

	<p> Minimalism and sustainability go hand in hand, in my opinion. Sustainability became a very used word in today's vocabulary, but many still probably don't research or understand fully the context behind it. World's waste is growing exponantially every year, unethical workforce is on the rise as well, and it is time to take serious steps before it's too late. Change comes from every single one of us, so researching and teaching people might bring a good turn in what we see today in the economy. </p>

</head>
