html {
	 scroll-behavior: smooth;
  }

html {
	font-size: 10px; 
	color: #5795B3;
	background-size: cover;
}


body {
	height: 3000px;
	background: linear-gradient(60deg, #FFE7C9 2%, #FFDCB0 60%, #B0E5FF 85%);
	display: flex;
	flex-direction: column;
	margin: 0px;
}



span {
	font-family: "Times New Roman";
	color: #B58B67;
	font-size: 20vw;
	font-weight: bold;
}

.topnav	{
	color: #5795B3;
	font-size: 2vw;
	text-align: justify;
	padding: 10px 12px;
	display: flex;
	flex: 0;
	flex-direction: row;
	justify-content: space-evenly;
	border-bottom: 3px solid #8B4513;
	position: fixed;
	top: 0;
	width: 100%;

	animation-delay: calc(var(--scroll)*-1s + .00s);
	animation-name: fade_background;
	animation-direction: reverse;
	animation-duration: .1s;
	animation-timing-function: linear;
	animation-iteration-count: 1;
	animation-direction: normal;
	animation-fill-mode: none;
	animation-play-state: paused;
	animation-fill-mode: both;
	z-index: 1;

	background: rgba(255,0,0,0);
}

@keyframes fade_background {
	from {
		background: rgba(255,0,0,0);
	}

	to {
		background-color: #fff;
		background: rgb(229 222 196);
	}
}

@keyframes fade_background1 {
	from {background-color: #00edff29;}
	to {background-color: #ff71001c;}
}

.topnav img {
	width: 16vw;
	height: auto;
}



#welcome {
	font-family: "cursive";
	font-size: 25px;
}


.topnav {
	padding: 8px 8px;
	font-size: 2vw;
	transition:font-size 0.5s;
}

.topnav a {
	font-family: "Times New Roman";
	color: #5795B3;
	text-decoration: inherit;
	text-align: justify;

}


.topnav a:nth-child(1) {
	padding: 0;
}

.main {
	display: flex;
	flex-direction: row;
	margin-top:9vw;
}

.column1 {
	display: flex;
	flex-direction: row;
}

.main .column1 img {
	width: 50%;
	height: auto;
	border-radius: 20px;
	padding: 10px;
	box-shadow: 0 0 8px 2px #bdbdbd;
}

h1 {
	color:#B58E5E;
	font-family: 'Courgette', cursive;
	font-size: 2vw;
	align-self: center;
	transform: scale(.80);
        animation: scale 50s forwards cubic-bezier(0.5, 1, 0.89, 1);
}

h1 span {
	color: #8B4513;
}

.introtext {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}



.introtext h1 span {
	font-family: 'Courgette', cursive;
}


@keyframes scale {
	100% {
	transform: scale(1);
} 
}

span {
	display: inline-block;
	opacity: 0;
	filter: blur(4px);
	font-size: 6vw;
	padding: 3px;
}

span:nth-child(1) {
	animation: fade-in .70s 1.6s forwards cubic-bezier(0.11, 0, 0.5,0);
}


span:nth-child(2) {
	animation: fade-in .70s 1.7s forwards cubic-bezier(0.11, 0, 0.5,0);
}


span:nth-child(3) {
	animation: fade-in .70s 1.8s forwards cubic-bezier(0.11, 0, 0.5,0);
}


span:nth-child(4) {
	animation: fade-in .70s 1.9s forwards cubic-bezier(0.11, 0, 0.5,0);
}

@keyframes fade-in {
		100% {
			opacity: 1;
			filter: blur(0);
}
}

div.box {
	font-family: "Times New Roman";
	font-size: 2vw;
	color: #5795B3;
	padding: 20px 30px;
	width: 895px;
	align-self: center;
	border: 15px solid;
	background-color: beige;
	padding: 50px;
	margin-top: 40px;	
	margin-bottom: 30px;
	border-radius: 20px;
	width: 80vw;
}


.destination-pics img {
	padding: 20px;
	padding-bottom: 0px;
	transition: transform 1s;
	border-radius: 40px;
	max-width: 30vw;
}

.destination-pics img:hover {
	transform: scale(1.1);
}

.destination-pics {
	display: flex;
	flex-direction: row;
}

 .destination-pics a {
	font-size: 2vw;
	font-family: "Times New Roman";
	color: #5795B3;
	padding: 15px 15px;
	background-color: white;
	width: fit-content;
	border-radius: 30px;
	margin: 2vw;
}

.destination-pics > div {
	display: flex;	
	flex-direction: column;
	align-items: center;
}

.maintxt {
	font-family: "Times New Roman"
	
		
}

a:hover {
	color: inherit;
	cursor: pointer;
}


.blogposts {
	display: flex;
	flex-direction: row;
	width: fit-content;
}

.blogposts img {
	padding: 15px 0px;
	width: 25vw;
	margin-top: 5vw;

	
}

.main_container {
	display: flex;
	flex: 1;
	flex-direction: column;
	background:#FFE7C9;
	padding: 3vw 3vw;
	height: 400px;  
	border: 0.2vw solid #FFE7C9;
}

.main_container > img {
	height: 500px 500px;
	display: flex;
	align-items: center;
}

.pr_title {
	font-family: "Times New Roman";
	color: #B58E5E;
	font-size: 3vw;
        font-weight: bold;
	align-items: center;
}

.pr_description {
	font-family: "Times New Roman";
	color: #B58E5E;
	font-size: 2vw;
}

.bud_title {
	font-family: "Times New Roman";
	color: #B58E5E;
	font-size: 3vw;
        font-weight: bold;
	align-items: center;
}

.bud_description {
	font-family: "Times New Roman";
	color: #B58E5E;
	font-size: 2vw;
}


.dr_title {
	font-family: "Times New Roman";
	color: #B58E5E;
	font-size: 3vw;
        font-weight: bold;
	align-items: center;
}

.dr_description {
	font-family: "Times New Roman";
	color: #B58E5E;
	font-size: 2vw;
}
